﻿@model databasemencsharpmenfaktisktraels.Models.XKunde

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>XKunde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KundeGr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KundeGr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EfterNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EfterNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XKundeOffentlig.InstitutionsNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XKundeOffentlig.InstitutionsNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XKundePrivat.PrivatMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XKundePrivat.PrivatMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XKundeStorKunde.FirmaNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XKundeStorKunde.FirmaNavn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
