﻿@model IEnumerable<databasemencsharpmenfaktisktraels.Models.XKunde>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KundeGr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfterNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XKundeOffentlig.InstitutionsNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XKundePrivat.PrivatMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XKundeStorKunde.FirmaNavn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @switch (item.KundeGr)
                {
                    case 0:
                    <p>Privat kunde</p>
                    break;

                    case 1:
                    <p>Stor kunde</p>
                        break;

                    case 2:
                    <p>Offentlig kunde</p>
                    break;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EfterNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XKundeOffentlig.InstitutionsNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XKundePrivat.PrivatMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XKundeStorKunde.FirmaNavn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KundeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KundeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KundeID })
        </td>
    </tr>
}

</table>
