﻿@model databasemencsharpmenfaktisktraels.Models.XKundeStorKunde

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>XKundeStorKunde</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirmaNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaNavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirmaTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirmaTelefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVRNummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVRNummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XKunde.ForNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XKunde.ForNavn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KundeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
