﻿@model databasemencsharpmenfaktisktraels.Models.XKundePrivat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>XKundePrivat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrivatMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivatMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KreditVærdig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KreditVærdig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XKunde.ForNavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XKunde.ForNavn)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.KundeID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
