﻿@model IEnumerable<databasemencsharpmenfaktisktraels.Models.XKundePrivat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.XKunde.KundeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XKunde.ForNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrivatMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KreditVærdig)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.XKunde.KundeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XKunde.ForNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrivatMail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KreditVærdig)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KundeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KundeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KundeID })
        </td>
    </tr>
}

</table>
