﻿@model IEnumerable<databasemencsharpmenfaktisktraels.Models.XKundeOffentlig>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionsNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVRNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionsLeder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XKunde.ForNavn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionsNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CVRNummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionsLeder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XKunde.ForNavn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KundeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KundeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KundeID })
        </td>
    </tr>
}

</table>
